﻿/* 
    Document   : style
    Created on : Mar 30, 2014, 8:21:25 PM
    Author     : Phan Văn Cương
    Website    : http://web360plus.com
        Trang chia sẻ và đào tạo lập trình thiết kế website
*/
li{ list-style: none;}
a{text-decoration: none;color: #FFF;font-size: 16px;}
.clear{ clear: both;}
.wrapper{ width: 960px; height: 500px; background: #F8F8F8; margin: 0px auto; }
.main_menu{ background: #00A69B; margin-top: 30px;}
.main_menu>ul>li{ float: left;padding: 3px 16px; position: relative; border-right: 1px dotted #ACACAC;}
.main_menu>ul>li:last-child{ border-right: none;}
.main_menu>ul>li>ul{ display: none; position: absolute; background: #00A69B;top: 41px;width: 198px; left: 0px;}
.main_menu>ul>li:hover ul{ display: block;}
.main_menu ul li:hover{ background: #5F5C5C; transition: all 0.25s;}
.main_menu>ul>li>ul>li{ padding: 5px 10px;}
.main_menu>ul>li>ul>li{ border-bottom: 1px dotted #ACACAC;}