﻿/*CSS Tạo Menu Cấp 1*/
#dacap ul{
list-style: none;
font-family: Arial, san-serif,'Times New Roman';
font-size: 12px;
padding: 0;
padding-left:0;

}

#dacap ul li{
float:left;
position:relative;
height:30px;
margin:-1px;
margin-right:0px;
/*padding:3px 16px;*/
/*margin:0px 0 10px;*/
/*border-bottom:1px;*/
border-right:2px solid#000000;
/*float: left;
padding: 3px 16px;
position: relative; 
 border-right: 1px dotted #ACACAC*/
}

#dacap ul a{
text-decoration:none;
color:#000000;
display:block;
font-weight:bold;
padding:12px 20px;
background:#10f6f6;
}

#dacap ul a:hover{
background:#555;
}

/*CSS Tạo Menu Cấp 2*/
#dacap li ul a{
background:#444;
top:41px;
width:198px;
left:0px;
}

#dacap li ul{
position:absolute;
display:none;
width:200px;
}

#dacap li:hover ul{
display:block;
transition: all 0.25s;
}
