﻿@model MVC.Models.LienHe
@{
    ViewBag.Title = "Liên hệ";
}

<br />
<br />
<br />
<h2> Liên hệ</h2>
<br />
<br />
<p> Nguyễn Hữu Hỷ</p>
<br />
<p>Số 38, Hẽm 77, đường Tân Lập 1, phường Hiệp Phú, Quận 9</p>
<br />
<p>Số điện thoại: 01695026150</p>
<br />
<p> Email: nguyenhappy92@gmail.com hoặc nguyenhappy92@hotmail.com</p>
<br />
<p> Đừng ngần ngại hãy liên hệ với chúng tôi, tôi luôn ở bên bạn dù bạn ở nơi đâu</p>

<br />
<br />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        @*<legend>LienHe</legend>*@

        <div class="editor-field">
            @*@Html.LabelFor(model => model.HoTen)*@
            <p>Họ tên của bạn</p>
            @*<input type="text" name="name" value="" placeholder="Họ và tên" class="text validate[required,minSize[6]]">*@

        </div>
        <div>
            @Html.EditorFor(model => model.HoTen)
            @Html.ValidationMessageFor(model => model.HoTen)
        </div>
        <div class="editor-label">
            @*@Html.LabelFor(model => model.Email)*@
            <p>Email</p>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="editor-label">
            @*@Html.LabelFor(model => model.NoiDung)*@
            <p>Nội dung</p>
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.NoiDung)
            @Html.ValidationMessageFor(model => model.NoiDung)
        </div>
        <div class="float-right">
            <p>
                <input type="submit" value="Gửi" />
            </p>
        </div>
    </fieldset>
}
<div>
    @Html.ActionLink("Trở về Trang chủ", "Index", "Home")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


