﻿@model IEnumerable<MVC.Models.LienHe>

@{
    ViewBag.Title = "Lien He";
}
<br />
<style>
    p {
        color: #0094ff;
    }
</style>
<p>
    Cảm ơn bạn đã gửi hỗ trợ. Chúng tôi sẽ liên lạc bạn trong thời gian sớm nhất có thể
</p>
<div>
    @Html.ActionLink("Trở về Trang Chủ", "Index", "Home")
</div>