﻿@model MVC.Models.LienKetWeb

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>LienKetWeb</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TenWeb)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TenWeb)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Link)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Link)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.MaLK }) |
    @Html.ActionLink("Back to List", "Index")
</p>
