﻿@model IEnumerable<MVC.Models.LienKetWeb>

<br />
<table>
    @*<tr>
        <th>
            @Html.DisplayNameFor(model => model.TenWeb)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Link)
        </th>
        <th></th>
    </tr>*@

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenWeb)
        </td>
        <td>
            <address>
                @Html.DisplayFor(modelItem => item.Link)
            </address>
        </td>
    </tr>
}

</table>
