﻿@model MVC.Models.BinhLuan

@using (Html.BeginForm("Create", "BinhLuan",FormMethod.Post, new { id="my-form"}))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <br />
        @*<legend>Add BinhLuan</legend>*@
        <div class="editor-label">
            @Html.LabelFor(model => model.NoDungBL)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.NoDungBL)
            @Html.ValidationMessageFor(model => model.NoDungBL)
        </div>
        @Html.Hidden("idbaiviet",ViewData["idbaiviet"])

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}
<script src="~/Scripts/addComment.js"></script>
@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@




