﻿@model MVC.Models.BaiViet
@using (Html.BeginForm("Create", "BaiViet", FormMethod.Post, new { id = "baiviet" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <br />
        <p>
            <input type="submit" value="Đăng Bài" />
        </p>
        <div class="editor-label">
            @Html.LabelFor(model => model.TenBV)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TenBV)
            @Html.ValidationMessageFor(model => model.TenBV)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TomTatNoiDung)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TomTatNoiDung)
            @Html.ValidationMessageFor(model => model.TomTatNoiDung)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NoiDungBV)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.NoiDungBV)
            @Html.ValidationMessageFor(model => model.NoiDungBV)
        </div>
        @Html.Hidden("idbaiviet", ViewData["idbaiviet"])

        
    </fieldset>
}
<script src="~/Scripts/addbaiviet.js"></script>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaBV }) 
    @Html.ActionLink("Trở về trang chủ", "Index", "Home")
</p>


