﻿@model MVC.Models.BaiViet

@*@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>*@
<br />
<br />
<br />
<br />
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        @*<legend>BaiViet</legend>*@

        <div class="editor-label">
            @*@Html.LabelFor(model => model.TenBV)*@
            <p>Tên bài viết</p>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TenBV)
            @Html.ValidationMessageFor(model => model.TenBV)
        </div>

        <div class="editor-label">
            @*@Html.LabelFor(model => model.TomTatNoiDung)*@
            <p>Tóm tắt nội dung bài viết</p>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TomTatNoiDung)
            @Html.ValidationMessageFor(model => model.TomTatNoiDung)
        </div>

        <div class="editor-label">
            @*@Html.LabelFor(model => model.NoiDungBV)*@
            <p>Nội dung bài viết</p>
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.NoiDungBV)
            @Html.ValidationMessageFor(model => model.NoiDungBV)
        </div>

        
        @*<div class="editor-label">
            @Html.LabelFor(model => model.UserProfileId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserProfileId)
            @Html.ValidationMessageFor(model => model.UserProfileId)
        </div>*@

        <div class="editor-label">
            Tag:
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => new MVC.Models.TuKhoa().TenTK)
            @Html.ValidationMessageFor(model => new MVC.Models.TuKhoa().TenTK)
        </div>

        <p>
            <input type="submit" value="Đăng bài" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
