﻿@model MVC.Models.BaiViet
@*@Html.Partial("_addBinhLuan", new MVC.Models.BinhLuan(), ViewData)*@
@*@Html.Partial("_addBaiviet", new MVC.Models.BaiViet(),ViewData)*@
<br />
<br />
<div class="button">
    <p>
        @Html.ActionLink("Đăng Bài", "Create")
    </p>
</div>
<fieldset>
    @*<legend>BaiViet</legend>*@
    <br />
    @*<div class="display-label">
         @Html.DisplayNameFor(model => model.TenBV)
    </div>*@
    <div class="display-field">
        <div style="font-weight :bold">
            @Html.DisplayFor(model => model.TenBV)
        </div>
      </div>

    @*<div class="display-label">
         @Html.DisplayNameFor(model => model.TomTatNoiDung)
    </div>*@
    <div class="display-field">
        <div style="color:#ff0000">
            @Html.DisplayFor(model => model.TomTatNoiDung)
        </div>
    </div>

    @*<div class="display-label">
         @Html.DisplayNameFor(model => model.NoiDungBV)
    </div>*@
    <div class="display-field">
        @Html.DisplayFor(model => model.NoiDungBV)
    </div>

    @*<div class="display-label">
         @Html.DisplayNameFor(model => model.NgayTao)
    </div>*@
    <div class="display-field">
        @Html.DisplayFor(model => model.NgayTao)
    </div>
    <br />
    <div class="display-field">
        @Html.DisplayFor(model => model.UserProfileId)
    </div>
</fieldset>
<fieldset>
    <legend>DanhGiaBaiViet</legend>
    <div class="result">
        @foreach (var danhgiabaiviet in Model.DanhGiaBaiViets)
        {
            <div class="display-field">
                @Html.DisplayFor(x => danhgiabaiviet.LoaiDanhGia)
            </div>
        }
    </div>
</fieldset>
@Html.Partial("_addBinhLuan",new MVC.Models.BinhLuan(), ViewData);
<fieldset>
    <legend>BinhLuan</legend>
    <div id="result">
        @foreach (var binhluan in Model.BinhLuans.OrderByDescending(x => x.NgayTao).Take(5))
        {
            <div class="display-field">
                <h3> Cach day: @Html.DisplayFor(x => binhluan.LastTime)phut </h3>
            </div>

            <div class="display-field">
                @Html.DisplayFor(x => binhluan.NoDungBL)
            </div>
        }
    </div>
    </fieldset>

    <p>
        @*@Html.ActionLink("Edit", "Edit", new { id = Model.MaBV }) |*@
        @Html.ActionLink("Trở về trang chủ","Index","Home")
    </p>
