﻿@model MVC.Models.BaiViet

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>BaiViet</legend>

        @Html.HiddenFor(model => model.MaBV)

        <div class="editor-label">
            @Html.LabelFor(model => model.TenBV)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TenBV)
            @Html.ValidationMessageFor(model => model.TenBV)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TomTatNoiDung)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TomTatNoiDung)
            @Html.ValidationMessageFor(model => model.TomTatNoiDung)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NoiDungBV)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NoiDungBV)
            @Html.ValidationMessageFor(model => model.NoiDungBV)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NgayTao)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NgayTao)
            @Html.ValidationMessageFor(model => model.NgayTao)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserProfileId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserProfileId)
            @Html.ValidationMessageFor(model => model.UserProfileId)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
