﻿@model IEnumerable<MVC.Models.BaiViet>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@*<style>
    table {
        border: 1px solid black;
        border-collapse: collapse;
    }
</style>*@
@*<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenBV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TomTatNoiDung)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoiDungBV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayTao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserProfileId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenBV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TomTatNoiDung)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoiDungBV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayTao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserProfileId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaBV }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaBV }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaBV })
        </td>
    </tr>
}

</table>*@
<div style="width:800px">
    @foreach (var item in Model)
    {
        //



        //
        <h4>@Html.ActionLink(item.TenBV, "Details", new { id = item.MaBV })</h4>
        <div>
            @item.NoiDungBV.Substring(0, 25) <em>
                @Html.ActionLink("...đọc thêm", "Details", new { id = item.MaBV }) |
              
            </em>
            <br />
        </div>
    }
</div>