﻿@model MVC.Models.TroGiup
@{
    ViewBag.Title = "Trợ giúp";
}
<br />
<br />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        @*<legend>TroGiup</legend>*@

        <div class="editor-label">
            <style>
                p {
                    color: #ff0000;
                }
            </style>
            <p>
                Họ Tên:
            </p>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HoTen)
            @Html.ValidationMessageFor(model => model.HoTen)
        </div>

        <div class="editor-label">
            @*<style>
                    p {
                        color:#ff6a00;
                    }
                </style>*@
            <p>
                Địa Chỉ:
            </p>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DiaChi)
            @Html.ValidationMessageFor(model => model.DiaChi)
        </div>

        <div class="editor-label">
            @*<style>
                    p {
                        color: #0094ff;
                    }
                </style>*@
            <p>
                Số Điện Thoại:
            </p>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SoDT)
            @Html.ValidationMessageFor(model => model.SoDT)
        </div>

        <div class="editor-label">
            @*<style>
                    p {
                        color: #ff00dc;
                    }
                </style>*@
            <p>
                Email:
            </p>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="editor-label">
            @*<style>
                    p {
                        color: #ff0000;
                    }
                </style>*@
            <p>
                Chủ Đề
            </p>
            @*@Html.LabelFor(model => model.ChuDe)*@
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ChuDe)
            @Html.ValidationMessageFor(model => model.ChuDe)
        </div>

        <div class="editor-label">
            @*<style>
                    a {
                        color: #000000;
                    }
                </style>*@
            <p>
                Nội Dung:
            </p>
            @*@Html.LabelFor(model => model.NoiDung)*@
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.NoiDung)
            @Html.ValidationMessageFor(model => model.NoiDung)

        </div>

        <div class="float-right">
            <p>
                <input type="submit" value="Gửi hỗ trợ" />

            </p>
        </div>



    </fieldset>
}

<div>
    @Html.ActionLink("Trang Chủ", "Index", "Home")
</div>
<br />
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}



