﻿<!DOCTYPE html>
<html lang="en">
<head>
    <title>Phân tích - Kiến thức sức khỏe nâng cao cuộc sống</title>
    <meta charset="utf-8" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/MenuDC.css" rel="stylesheet" />
    <link href="~/Content/dongduoi.css" rel="stylesheet" />
    <link href="~/Content/timkiem.css" rel="stylesheet" />
    <link href="~/Content/home.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    <br />
    <br />
    <div id="body">
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        @Html.Partial("_Partialphantich")
    </div>
</body>
</html>
