﻿@model MVC.Models.DanhGiaBaiViet

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>DanhGiaBaiViet</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LoaiDanhGia)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LoaiDanhGia)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BaiViet.TenBV)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BaiViet.TenBV)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.MaDG }) |
    @Html.ActionLink("Back to List", "Index")
</p>
