﻿@model MVC.Models.DanhGiaBaiViet

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>DanhGiaBaiViet</legend>

        @Html.HiddenFor(model => model.MaDG)

        <div class="editor-label">
            @Html.LabelFor(model => model.LoaiDanhGia)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LoaiDanhGia)
            @Html.ValidationMessageFor(model => model.LoaiDanhGia)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DanhGiaBV, "BaiViet")
        </div>
        <div class="editor-field">
            @Html.DropDownList("DanhGiaBV", String.Empty)
            @Html.ValidationMessageFor(model => model.DanhGiaBV)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
