﻿@model IEnumerable<MVC.Models.DanhGiaBaiViet>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LoaiDanhGia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BaiViet.TenBV)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LoaiDanhGia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BaiViet.TenBV)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaDG }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaDG }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaDG })
        </td>
    </tr>
}

</table>
