﻿<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Trang chủ - Kiến thức sức khỏe nâng cao cuộc sống</title>
    <link rel="stylesheet" href="style.css" type="text/css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="~/Content/menucap2.css" rel="stylesheet" />
    <meta charset="utf-8" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @*<link href="~/Content/MenuDC.css" rel="stylesheet" />
    <link href="~/Content/dongduoi.css" rel="stylesheet" />*@
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <link href="~/Content/search.css" rel="stylesheet" />
    <link href="~/Content/home.css" rel="stylesheet" />
    <script>
var txt="Chào mừng bạn đến Web Quảng trị 48h ";
var espera=200;
var refresco=null;
function rotulo_title() {
document.title=txt;
txt=txt.substring(1,txt.length)+txt.charAt(0);
refresco=setTimeout("rotulo_title()",espera);
}
rotulo_title();
    </script>
</head>
<body>
    <header>
       
    <div class="wrapper">
        <div class="main_menu">
            <ul>
                <li><a href="">Trang chủ</a></li>
                <li>
                    <a href="">Danh mục</a>
                    <ul>
                        <li><a href="">Y khoa trẻ em</a></li>
                        <li><a href="">Y khoa thanh thiếu niên</a></li>
                        <li><a href="">Y khoa trung niên</a></li>
                        <li><a href="">Y khoa người cao tuổi</a></li>
                       
                    </ul>
                </li>
                <li>
                    <a href="">Phân tích</a>
                    <ul>
                        <li><a href="">Chuyên gia</a></li>
                        <li><a href="">Lương y</a></li>
                    </ul>
                </li>
                <li>
                    <a href="">Bổ trợ</a>
                    <ul>
                        <li><a href="">Y khoa căn bản</a></li>
                        <li><a href="">Các bệnh thường gặp</a></li>
                        <li><a href="">Thực phẩm dinh dưỡng</a></li>
                        <li><a href="">Sức khỏe người mẹ</a></li>
                        <li><a href="">Người gia cần biết</a></li>
                        <li><a href="">Giảm căng thẳng hiệu quả</a></li>
                    </ul>
                </li>
                <li><a href="">Bác sĩ y khoa</a></li>
                <li>
                    <a href="">Giải trí</a>
                    <ul>
                        <li><a href="">Trắc nghiệm A,B,C,D</a></li>
                        <li><a href="">GameTalk</a></li>
                        <li><a href="">Lật ô</a></li>
                        <li><a href="">Hài kịch</a></li>
                    </ul>
                </li>
                <li><a href="">Trợ giúp</a></li>
                <li><a href="">Liên hệ</a></li>
                <li><a href="">Liên kết web</a></li>
            </ul>
            <div class="clear"></div>
        </div>
    </div>
        </header>
    <br />
    <br />
    <div id="presto-double-newsbox-list-4" class="widget widget-double-newsbox-list">
        <div class="row">
            <div class="six columns">
                <div class="first-newsbox-list">
                    <div class="widget-title"><h3><a href="#" title="Sức Khỏe">Sức Khỏe</a> </h3></div><ul class="newsbox-list">
                        <li>
                            <div class="newsbox-item">
                                <div class="post-thumbnail">
                                    <a href="#"><img src="~/Images/web/an.ipg" alt="" class=""></a>
                                </div>
                                <a href="" class="post-title">3 sai lầm lớn khi giữ ấm trong mùa đông</a>
                                <div class="postmeta">
                                    <time class="meta-time" datetime="2014-12-13">Dec 13, 2014</time>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="newsbox-item">
                                <div class="post-thumbnail">
                                    <a href=""><img src="~/Images/web/an.ipg" alt="" class=""></a>
                                </div>
                                <a href="" class="post-title">Trẻ dậy thì sớm làm tăng nguy cơ bị trầm cảm</a>
                                <div class="postmeta">
                                    <time class="meta-time" datetime="2014-12-13">Dec 13, 2014</time>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="newsbox-item">
                                <div class="post-thumbnail">
                                    <a href=""><img src="~/Images/web/an.ipg" alt="" class=""></a>
                                </div>
                                <a href="" class="post-title">Nguyên nhân và điều trị bệnh suy tim ở người cao tuổi</a>
                                <div class="postmeta">
                                    <time class="meta-time" datetime="2014-12-13">Dec 13, 2014</time>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div><div class="six columns">
                <div class="first-newsbox-list">
                    <div class="widget-title"><h3><a href="#" title="Đời Sống">Đời Sống</a> </h3></div><ul class="newsbox-list">
                        <li>
                            <div class="newsbox-item">
                                <div class="post-thumbnail">
                                    <a href="#"><img src="~/Images/web/cao.jpg" alt="" class=""></a>
                                </div>
                                <a href="#" class="post-title">Những điều bạn có được sau khi chia tay</a>
                                <div class="postmeta">
                                    <time class="meta-time" datetime="2014-12-13">Dec 13, 2014</time>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="newsbox-item">
                                <div class="post-thumbnail">
                                    <a href="http://news.bacsi.com/doi-song/gioi-tinh/bi-quyet-yeu-trong-mua-dong/"><img src="http://news.bacsi.com/wp-content/uploads/2014/12/bi-quyet-yeu-trong-mua-dong2-70x70.jpg" alt="" class=""></a>
                                </div>
                                <a href="http://news.bacsi.com/doi-song/gioi-tinh/bi-quyet-yeu-trong-mua-dong/" class="post-title">Bí quyết “yêu” trong mùa đông</a>
                                <div class="postmeta">
                                    <time class="meta-time" datetime="2014-12-12">Dec 12, 2014</time>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="newsbox-item">
                                <div class="post-thumbnail">
                                    <a href="http://news.bacsi.com/doi-song/yeu-va-song/nhung-nu-hon-dac-biet-khien-phu-nu-nho-mai-khong-quen/"><img src="http://news.bacsi.com/wp-content/uploads/2014/12/nhung-nu-hon-dac-biet-khien-phu-nu-nho-mai-khong-quen1-70x70.jpg" alt="" class=""></a>
                                </div>
                                <a href="http://news.bacsi.com/doi-song/yeu-va-song/nhung-nu-hon-dac-biet-khien-phu-nu-nho-mai-khong-quen/" class="post-title">Những nụ hôn đặc biệt khiến phụ nữ nhớ mãi không quên</a>
                                <div class="postmeta">
                                    <time class="meta-time" datetime="2014-12-11">Dec 11, 2014</time>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    @RenderBody()
</body>
</html>