﻿<!DOCTYPE html>
<html lang="en">
<head>
    <title>Trang chủ - Kiến thức sức khỏe nâng cao cuộc sống</title>
    <meta charset="utf-8" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/MenuDC.css" rel="stylesheet" />
    <link href="~/Content/dongduoi.css" rel="stylesheet" />
    <link href="~/Content/timkiem.css" rel="stylesheet" />
    <link href="~/Content/home.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <script>
    var txt="Kiến thức sức khỏe nâng cao cuộc sống";
    var espera=200;
    var refresco=null;
    function rotulo_title() {
    document.title=txt;
    txt=txt.substring(1,txt.length)+txt.charAt(0);
    refresco=setTimeout("rotulo_title()",espera);
    }
    rotulo_title();
    </script>
</head>
<body>
    <header>
        <div class="content-wrapper">
            <div class="float-right">
                <br />
                <br />
                <br />
                <section id="login">
                    @Html.Partial("_LoginPartial")
                </section>
                
            </div>
            <div class="float-left">
                <marquee><font color="red">Chào mừng bạn đến với trang web Kiến thức sức khỏe nâng cao cuộc sống</font></marquee>
                <form class="form-wrapper">
                    <input type="text" id="search" placeholder="Tìm kiếm" required>
                    <input type="submit" value="Search" id="submit">
                </form>
                <br />
                <nav>
                  
                    <div id="dacap">
                        <ul>
                            <li><a href="http://localhost:5721/">Home</a></li>

                            <li>
                                <a href="http://localhost:5721/Home/Contact">Danh mục</a>
                                <ul>
                                    <li><a href="http://localhost:5721/Ykhoatreem">Y khoa trẻ em</a></li>
                                    <li><a href="http://localhost:5721/Ykhoathanhthieunien">Y khoa thanh thiếu niên</a></li>
                                    <li><a href="http://localhost:5721/Ykhoatrungnien">Y khoa trung niên</a></li>
                                    <li><a href="http://localhost:5721/Ykhoanguoicaotuoi">Y khoa người cao tuổi</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="http://localhost:5721/Home/About">Phân tích</a>
                                <ul>
                                    <li><a href="http://localhost:5721/Chuyengia">Chuyên gia</a></li>
                                    <li><a href="http://localhost:5721/Thaythuoc">Thầy thuốc</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="http://localhost:5721/Botro">Bổ trợ</a>
                                <ul>
                                    <li><a href="http://localhost:5721/Ykhoacanban">Y khoa căn bản</a></li>
                                    <li><a href="http://localhost:5721/Cacbenhthuonggap">Các bệnh thường gặp</a></li>
                                    <li><a href="http://localhost:5721/Thucphamdinhduong">Thực phẩm dinh dưỡng</a></li>
                                    <li><a href="http://localhost:5721/Suckhoenguoime">Sức khỏe người mẹ</a></li>
                                    <li><a href="http://localhost:5721/Nguoigiacanbiet">Người già cần biết</a></li>
                                    <li><a href="http://localhost:5721/Giamcangthanghieuqua">Giảm căng thẳng hiệu quả</a></li>
                                </ul>
                            </li>
                            <li><a href="http://localhost:5721/Bacsy">Bác sĩ y khoa</a></li>
                            <li>
                                <a href="http://localhost:5721/Giaitri">Giải trí</a>
                                <ul>
                                    <li><a href="http://localhost:5721/TracnghiemABCD">Trắc nghiệm A,B,C,D</a></li>
                                    <li><a href="http://localhost:5721/Gametalk">GameTalk</a></li>
                                    <li><a href="http://localhost:5721/Lato">Lật ô</a></li>
                                    <li><a href="http://localhost:5721/Haikich">Hài kịch</a></li>
                                </ul>
                            </li>

                            <li>
                            <a href="http://localhost:5721/TroGiup/Create">Trợ giúp</a>
                            </li>
                            <li>
                            <a href="http://localhost:5721/LienHe/Create">Liên hệ</a>
                            </li>
                            <li>
                                <a href="http://localhost:5721/LienKetweb">Liên kết web</a>
                            </li>
                        </ul>
                    </div>
                  

                </nav>
            </div>
        </div>
    </header>
    <div id="body">
        
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>

        </div>
    @*<br />
    <br />
    <div id="body">
        <br />
        <br />
        @Html.Partial("_Partialhome")
        @RenderBody()
    </div>*@
    <br />
    <br />
    <br />
    <footer>
        <p>&copy; @DateTime.Now.Year - Happy Nguyen's</p>
        <div class="wrapper">

            <nav class="categories">
                <ul>

                    <li class="parent danhmuc  ">
                        <a href="http://localhost:5721/Home/Contact">Danh mục</a>

                        <div class="subcate">
                            <ul>

                                <li>
                                    <a href="http://localhost:5721/Ykhoatreem">
                                        Y khoa trẻ em
                                    </a>
                                </li>

                                <li>
                                    <a href="http://localhost:5721/Ykhoathanhthieunien">
                                        Y khoa thanh thiếu niên
                                    </a>
                                </li>

                                <li>
                                    <a href="http://localhost:5721/Ykhoatrungnien">
                                        Y khoa trung nien
                                    </a>
                                </li>

                                <li>
                                    <a href="http://localhost:5721/Ykhoanguoicaotuoi">
                                        Y khoa người cao tuổi
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class="parent phantich ">
                        <a href="http://localhost:5721/Home/About">Phân tích</a>

                        <div class="subcate">
                            <ul>

                                <li>
                                    <a href="http://localhost:5721/Chuyengia">
                                        Chuyên gia
                                    </a>
                                </li>

                                <li>
                                    <a href="http://localhost:5721/Thaythuoc">
                                        Lương y
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class="parent botro ">
                        <a href="http://localhost:5721/Botro">Bổ trợ</a>

                        <div class="subcate">
                            <ul>

                                <li>
                                    <a href="http://localhost:5721/Ykhoacanban">
                                        Y khoa căn bản
                                    </a>
                                </li>

                                <li>
                                    <a href="http://localhost:5721/Cacbenhthuonggap">
                                        Các bệnh thường gặp
                                    </a>
                                </li>

                                <li>
                                    <a href="http://localhost:5721/Thucphamdinhduong">
                                        Thực phẩm dinh dưỡng
                                    </a>
                                </li>

                                <li>
                                    <a href="http://localhost:5721/Suckhoenguoime">
                                        Sức khỏe người mẹ
                                    </a>
                                </li>
                                <li>
                                    <a href="http://localhost:5721/Nguoigiacanbiet">
                                        Người già cần biết
                                    </a>
                                </li>
                                <li>
                                    <a href="http://localhost:5721/Giamcangthanghieuqua">
                                        Giảm căng thẳng hiệu quả
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="parent bacsiykhoa ">
                        <a href="http://localhost:5721/Bacsy">Bác sĩ y khoa</a>
                    </li>
                    <li class="parent giaitri ">
                        <a href="http://localhost:5721/Giaitri">Giải trí</a>

                        <div class="subcate">
                            <ul>

                                <li>
                                    <a href="http://localhost:5721/TracnghiemABCD">
                                        Trắc nghiệm A,B,C,D
                                    </a>
                                </li>

                                <li>
                                    <a href="http://localhost:5721/Gametalk">
                                        GameTalk
                                    </a>
                                </li>

                                <li>
                                    <a href="http://localhost:5721/Lato">
                                        Lật ô
                                    </a>
                                </li>

                                <li>
                                    <a href="http://localhost:5721/Haikich">
                                        Hài kịch
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="parent trogiup ">
                        <a href="http://localhost:5721/TroGiup/Create">Trợ giúp</a>
                    </li>
                    <li class="parent lienhe ">
                        <a href="http://localhost:5721/LienHe/Create">Liên hệ</a>
                    </li>
                    <li class="parent lienketweb ">
                        <a href="http://localhost:5721/LienKetweb">Liên kết web</a>
                    </li>
                </ul>
                    
            </nav>
           
            </div>
       
    </footer>

  
    @RenderSection("scripts", required: false)
</body>
</html>
