﻿<div class="float-left">
    <div class="button">
        <p>
            @Html.ActionLink("Đăng Bài", "Create", "BaiViet")
        </p>
    </div>
</div>
<section>
    <div id="presto-double-newsbox-list-4" class="widget widget-double-newsbox-list">
        <div class="row">
            <div class="six columns">
                <div class="first-newsbox-list">
                    <div class="widget-title"><h3><a href="#" title="Trong nước ">Trong nước</a> </h3></div><ul class="newsbox-list">
                        <li>
                            <div class="newsbox-item">
                                <div class="post-thumbnail">
                                    <a href="#"><img src="~/Images/web/toi.jpg" alt="" class=""></a>
                                </div>
                                <a href="" class="post-title">Công dụng chữa bệnh của tỏi</a>
                                <div class="postmeta">
                                    <time class="meta-time" datetime="2014-12-13">Dec 13, 2014</time>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="newsbox-item">
                                <div class="post-thumbnail">
                                    <a href=""><img src="~/Images/web/chong.jpg" alt="" class=""></a>
                                </div>
                                <a href="" class="post-title">Phòng trị chống mất ngủ ở người cao tuổi</a>
                                <div class="postmeta">
                                    <time class="meta-time" datetime="2014-12-13">Dec 13, 2014</time>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="newsbox-item">
                                <div class="post-thumbnail">
                                    <a href=""><img src="~/Images/web/toa.jpg" alt="" class=""></a>
                                </div>
                                <a href="" class="post-title">Chặn biến chứng đau ở thần kinh tọa</a>
                                <div class="postmeta">
                                    <time class="meta-time" datetime="2014-12-13">Dec 13, 2014</time>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="newsbox-item">
                                <div class="post-thumbnail">
                                    <a href=""><img src="~/Images/web/ebola.jpg" alt="" class=""></a>
                                </div>
                                <a href="" class="post-title">Tìm hiểu về dịch cúm Ebola</a>
                                <div class="postmeta">
                                    <time class="meta-time" datetime="2014-12-13">Dec 13, 2014</time>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
            </div><div class="six columns">
                <div class="first-newsbox-list">
                    <div class="widget-title"><h3><a href="#" title="Quốc tế">Quốc tế</a> </h3></div><ul class="newsbox-list">
                        <li>
                            <div class="newsbox-item">
                                <div class="post-thumbnail">
                                    <a href="#"><img src="~/Images/web/ganc.jpg" alt="" class=""></a>
                                </div>
                                <a href="#" class="post-title">Chronic Hepatitis C: Interferon May Be Harmful in Re-Treatment</a>
                                <div class="postmeta">
                                    <time class="meta-time" datetime="2014-12-13">Dec 13, 2014</time>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="newsbox-item">
                                <div class="post-thumbnail">
                                    <a href=""><img src="~/Images/web/gen.jpg" alt="" class=""></a>
                                </div>
                                <a href="" class="post-title">Genes are Not the Only Drivers of Colon Cancer</a>
                                <div class="postmeta">
                                    <time class="meta-time" datetime="2014-12-12">Dec 12, 2014</time>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="newsbox-item">
                                <div class="post-thumbnail">
                                    <a href=""><img src="~/Images/web/Focus.jpg" alt="" class=""></a>
                                </div>
                                <a href="" class="post-title">Herbal Adaptogens For Asthma and Adrenal Function</a>
                                <div class="postmeta">
                                    <time class="meta-time" datetime="2014-12-11">Dec 11, 2014</time>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="newsbox-item">
                                <div class="post-thumbnail">
                                    <a href=""><img src="~/Images/web/diabetes_resize.jpg" alt="" class=""></a>
                                </div>
                                <a href="" class="post-title">Red Meat Raises Type 2 Diabetes Risk</a>
                                <div class="postmeta">
                                    <time class="meta-time" datetime="2014-12-11">Dec 11, 2014</time>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>@**@
    <div id="presto-double-newsbox-list-4" class="widget widget-double-newsbox-list">
        <div class="row">
            <div class="six columns">
                <div class="first-newsbox-list">
                    <div class="widget-title"><h3><a href="#" title="Bác sỹ">Bác sỹ</a> </h3></div><ul class="newsbox-list">
                        <li>
                            <div class="newsbox-item">
                                <div class="post-thumbnail">
                                    <a href="#"><img src="~/Images/web/thaiho.jpg" alt="" class=""></a>
                                </div>
                                <a href="" class="post-title">Phụ nữ mang thai nên dùng thực phẩm chức năng gì</a>
                                <div class="postmeta">
                                    <time class="meta-time" datetime="2014-12-13">Dec 13, 2014</time>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="newsbox-item">
                                <div class="post-thumbnail">
                                    <a href=""><img src="~/Images/web/xatri.jpg" alt="" class=""></a>
                                </div>
                                <a href="" class="post-title">Chữa bệnh ung thư bằng xạ trị</a>
                                <div class="postmeta">
                                    <time class="meta-time" datetime="2014-12-13">Dec 13, 2014</time>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="newsbox-item">
                                <div class="post-thumbnail">
                                    <a href=""><img src="~/Images/web/vienthuoc.jpg" alt="" class=""></a>
                                </div>
                                <a href="" class="post-title">Cách sử dụng thuốc hợp lí</a>
                                <div class="postmeta">
                                    <time class="meta-time" datetime="2014-12-13">Dec 13, 2014</time>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="newsbox-item">
                                <div class="post-thumbnail">
                                    <a href=""><img src="~/Images/web/ruotthua.jpg" alt="" class=""></a>
                                </div>
                                <a href="" class="post-title">Mổ ruột thừa bằng nội soi không đau</a>
                                <div class="postmeta">
                                    <time class="meta-time" datetime="2014-12-13">Dec 13, 2014</time>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div><div class="six columns">
                <div class="first-newsbox-list">
                    <div class="widget-title"><h3><a href="#" title="Lương y">Lương y</a> </h3></div><ul class="newsbox-list">
                        <li>
                            <div class="newsbox-item">
                                <div class="post-thumbnail">
                                    <a href="#"><img src="~/Images/web/chamcuu.jpg" alt="" class=""></a>
                                </div>
                                <a href="#" class="post-title">Châm cứu đúng cách sẽ chữa được cột sống</a>
                                <div class="postmeta">
                                    <time class="meta-time" datetime="2014-12-13">Dec 13, 2014</time>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="newsbox-item">
                                <div class="post-thumbnail">
                                    <a href=""><img src="~/Images/web/co.jpg" alt="" class=""></a>
                                </div>
                                <a href="" class="post-title">Chữa bệnh bằng những cây cỏ quanh nhà</a>
                                <div class="postmeta">
                                    <time class="meta-time" datetime="2014-12-12">Dec 12, 2014</time>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="newsbox-item">
                                <div class="post-thumbnail">
                                    <a href=""><img src="~/Images/web/huou.jpg" alt="" class=""></a>
                                </div>
                                <a href="" class="post-title">Cách dùng hươu đúng cách</a>
                                <div class="postmeta">
                                    <time class="meta-time" datetime="2014-12-11">Dec 11, 2014</time>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="newsbox-item">
                                <div class="post-thumbnail">
                                    <a href=""><img src="~/Images/web/ngam.jpg" alt="" class=""></a>
                                </div>
                                <a href="" class="post-title">Ngâm rượu thuốc ngon</a>
                                <div class="postmeta">
                                    <time class="meta-time" datetime="2014-12-11">Dec 11, 2014</time>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>@**@
</section>


