﻿<div class="float-left">
    <div class="button">
        <p>
            @Html.ActionLink("Đăng Bài", "Create", "BaiViet")
        </p>
    </div>
</div>
<section>
    <div id="presto-double-newsbox-list-4" class="widget widget-double-newsbox-list">
        <div class="row">
            <div class="six columns">
                <div class="first-newsbox-list">
                    <div class="widget-title"><h3><a href="#" title="Căn bản">Căn bản</a> </h3></div><ul class="newsbox-list">
                        <li>
                            <div class="newsbox-item">
                                <div class="post-thumbnail">
                                    <a href="#"><img src="~/Images/web/thuoc.jpg" alt="" class=""></a>
                                </div>
                                <a href="" class="post-title">Cách xây dựng tủ thuốc tại nhà</a>
                                <div class="postmeta">
                                    <time class="meta-time" datetime="2014-12-13">Dec 13, 2014</time>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="newsbox-item">
                                <div class="post-thumbnail">
                                    <a href=""><img src="~/Images/web/duoi.jpg" alt="" class=""></a>
                                </div>
                                <a href="" class="post-title">Cách sơ cứu người chết đuối</a>
                                <div class="postmeta">
                                    <time class="meta-time" datetime="2014-12-13">Dec 13, 2014</time>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="newsbox-item">
                                <div class="post-thumbnail">
                                    <a href=""><img src="~/Images/web/ngoi.jpg" alt="" class=""></a>
                                </div>
                                <a href="" class="post-title">Tư thế ngồi học đúng cách</a>
                                <div class="postmeta">
                                    <time class="meta-time" datetime="2014-12-13">Dec 13, 2014</time>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="newsbox-item">
                                <div class="post-thumbnail">
                                    <a href=""><img src="~/Images/web/mung.jpg" alt="" class=""></a>
                                </div>
                                <a href="" class="post-title">Phòng chống dịch sốt xuất huyết</a>
                                <div class="postmeta">
                                    <time class="meta-time" datetime="2014-12-13">Dec 13, 2014</time>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
            </div><div class="six columns">
                <div class="first-newsbox-list">
                    <div class="widget-title"><h3><a href="#" title="Chuyên môn">Chuyên môn</a> </h3></div><ul class="newsbox-list">
                        <li>
                            <div class="newsbox-item">
                                <div class="post-thumbnail">
                                    <a href="#"><img src="~/Images/web/bien.jpg" alt="" class=""></a>
                                </div>
                                <a href="#" class="post-title">Xử lý nhanh cho người bị tai biến</a>
                                <div class="postmeta">
                                    <time class="meta-time" datetime="2014-12-13">Dec 13, 2014</time>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="newsbox-item">
                                <div class="post-thumbnail">
                                    <a href=""><img src="~/Images/web/thua.jpg" alt="" class=""></a>
                                </div>
                                <a href="" class="post-title">Sàng lọc người đau ruột thừa</a>
                                <div class="postmeta">
                                    <time class="meta-time" datetime="2014-12-12">Dec 12, 2014</time>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="newsbox-item">
                                <div class="post-thumbnail">
                                    <a href=""><img src="~/Images/web/phap.jpg" alt="" class=""></a>
                                </div>
                                <a href="" class="post-title">Liệu pháp sau sinh</a>
                                <div class="postmeta">
                                    <time class="meta-time" datetime="2014-12-11">Dec 11, 2014</time>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="newsbox-item">
                                <div class="post-thumbnail">
                                    <a href=""><img src="~/Images/web/tri.jpg" alt="" class=""></a>
                                </div>
                                <a href="" class="post-title">Vật lý trị liệu hiệu quả</a>
                                <div class="postmeta">
                                    <time class="meta-time" datetime="2014-12-11">Dec 11, 2014</time>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>@**@
    <div id="presto-double-newsbox-list-4" class="widget widget-double-newsbox-list">
        <div class="row">
            <div class="six columns">
                <div class="first-newsbox-list">
                    <div class="widget-title"><h3><a href="#" title="Các bệnh thường gặp">Các bệnh thường gặp</a> </h3></div><ul class="newsbox-list">
                        <li>
                            <div class="newsbox-item">
                                <div class="post-thumbnail">
                                    <a href="#"><img src="~/Images/web/camcum.jpg" alt="" class=""></a>
                                </div>
                                <a href="" class="post-title">Cảm cúm theo mùa</a>
                                <div class="postmeta">
                                    <time class="meta-time" datetime="2014-12-13">Dec 13, 2014</time>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="newsbox-item">
                                <div class="post-thumbnail">
                                    <a href=""><img src="~/Images/web/sot.jpg" alt="" class=""></a>
                                </div>
                                <a href="" class="post-title">Sốt xuất huyết</a>
                                <div class="postmeta">
                                    <time class="meta-time" datetime="2014-12-13">Dec 13, 2014</time>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="newsbox-item">
                                <div class="post-thumbnail">
                                    <a href=""><img src="~/Images/web/ngo.jpg" alt="" class=""></a>
                                </div>
                                <a href="" class="post-title">Ngộ độc thực phẩm</a>
                                <div class="postmeta">
                                    <time class="meta-time" datetime="2014-12-13">Dec 13, 2014</time>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="newsbox-item">
                                <div class="post-thumbnail">
                                    <a href=""><img src="~/Images/web/soithan.jpg" alt="" class=""></a>
                                </div>
                                <a href="" class="post-title">Suy thận</a>
                                <div class="postmeta">
                                    <time class="meta-time" datetime="2014-12-13">Dec 13, 2014</time>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div><div class="six columns">
                <div class="first-newsbox-list">
                    <div class="widget-title"><h3><a href="#" title="Thực phẩm dinh dưỡng">Thực phẩm dinh dưỡng</a> </h3></div><ul class="newsbox-list">
                        <li>
                            <div class="newsbox-item">
                                <div class="post-thumbnail">
                                    <a href="#"><img src="~/Images/web/duahau.jpg" alt="" class=""></a>
                                </div>
                                <a href="#" class="post-title">Tác dụng phụ khi ăn nhiều dưa hấu</a>
                                <div class="postmeta">
                                    <time class="meta-time" datetime="2014-12-13">Dec 13, 2014</time>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="newsbox-item">
                                <div class="post-thumbnail">
                                    <a href=""><img src="~/Images/web/chatbeo.jpg" alt="" class=""></a>
                                </div>
                                <a href="" class="post-title">4 điều cần biết về chất béo</a>
                                <div class="postmeta">
                                    <time class="meta-time" datetime="2014-12-12">Dec 12, 2014</time>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="newsbox-item">
                                <div class="post-thumbnail">
                                    <a href=""><img src="~/Images/web/traxanh.jpg" alt="" class=""></a>
                                </div>
                                <a href="" class="post-title">5 tác dụng phụ của trà xanh</a>
                                <div class="postmeta">
                                    <time class="meta-time" datetime="2014-12-11">Dec 11, 2014</time>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="newsbox-item">
                                <div class="post-thumbnail">
                                    <a href=""><img src="~/Images/web/rauqua.jpg" alt="" class=""></a>
                                </div>
                                <a href="" class="post-title">Cách rửa trái cây đúng cách</a>
                                <div class="postmeta">
                                    <time class="meta-time" datetime="2014-12-11">Dec 11, 2014</time>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>@**@
    <div id="presto-double-newsbox-list-4" class="widget widget-double-newsbox-list">
        <div class="row">
            <div class="six columns">
                <div class="first-newsbox-list">
                    <div class="widget-title"><h3><a href="#" title="Người già cần biết">Người già cần biết</a> </h3></div><ul class="newsbox-list">
                        <li>
                            <div class="newsbox-item">
                                <div class="post-thumbnail">
                                    <a href="#"><img src="~/Images/web/cotsong.jpg" alt="" class=""></a>
                                </div>
                                <a href="" class="post-title">Suy giảm trí nhớ</a>
                                <div class="postmeta">
                                    <time class="meta-time" datetime="2014-12-13">Dec 13, 2014</time>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="newsbox-item">
                                <div class="post-thumbnail">
                                    <a href=""><img src="~/Images/web/phunu.jpg" alt="" class=""></a>
                                </div>
                                <a href="" class="post-title">Đau nhức trong người</a>
                                <div class="postmeta">
                                    <time class="meta-time" datetime="2014-12-13">Dec 13, 2014</time>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="newsbox-item">
                                <div class="post-thumbnail">
                                    <a href=""><img src="~/Images/web/hait.jpg" alt="" class=""></a>
                                </div>
                                <a href="" class="post-title">Mất ngủ kinh niên</a>
                                <div class="postmeta">
                                    <time class="meta-time" datetime="2014-12-13">Dec 13, 2014</time>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="newsbox-item">
                                <div class="post-thumbnail">
                                    <a href=""><img src="~/Images/web/thuocla.jpg" alt="" class=""></a>
                                </div>
                                <a href="" class="post-title">Cao huyết áp</a>
                                <div class="postmeta">
                                    <time class="meta-time" datetime="2014-12-13">Dec 13, 2014</time>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div><div class="six columns">
                <div class="first-newsbox-list">
                    <div class="widget-title"><h3><a href="#" title="Giảm căng thẳng hiệu quả">Giảm căng thẳng hiệu quả</a> </h3></div><ul class="newsbox-list">
                        <li>
                            <div class="newsbox-item">
                                <div class="post-thumbnail">
                                    <a href="#"><img src="~/Images/web/tuoigia.jpg" alt="" class=""></a>
                                </div>
                                <a href="#" class="post-title">Chơi game chưa chắc đã giảm tress</a>
                                <div class="postmeta">
                                    <time class="meta-time" datetime="2014-12-13">Dec 13, 2014</time>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="newsbox-item">
                                <div class="post-thumbnail">
                                    <a href=""><img src="~/Images/web/huyap.jpg" alt="" class=""></a>
                                </div>
                                <a href="" class="post-title">Thế nào trầm cảm</a>
                                <div class="postmeta">
                                    <time class="meta-time" datetime="2014-12-12">Dec 12, 2014</time>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="newsbox-item">
                                <div class="post-thumbnail">
                                    <a href=""><img src="~/Images/web/theduc.jpg" alt="" class=""></a>
                                </div>
                                <a href="" class="post-title">Hít thở không khí trong lành giúp giảm căng thẳng hiệu quả</a>
                                <div class="postmeta">
                                    <time class="meta-time" datetime="2014-12-11">Dec 11, 2014</time>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="newsbox-item">
                                <div class="post-thumbnail">
                                    <a href=""><img src="~/Images/web/taibien.jpg" alt="" class=""></a>
                                </div>
                                <a href="" class="post-title">Vitamin cười</a>
                                <div class="postmeta">
                                    <time class="meta-time" datetime="2014-12-11">Dec 11, 2014</time>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>@**@
</section>


