﻿<div class="float-left">
    <div class="button">
        <p>
            @Html.ActionLink("Đăng Bài", "Create", "BaiViet")
        </p>
    </div>
</div>
<section>
    <div id="presto-double-newsbox-list-4" class="widget widget-double-newsbox-list">
        <div class="row">
            <div class="six columns">
                <div class="first-newsbox-list">
                    <div class="widget-title"><h3><a href="http://localhost:5721/Ykhoatreem" title="Y khoa trẻ em">Y khoa trẻ em</a> </h3></div><ul class="newsbox-list">
                        <li>
                            <div class="newsbox-item">
                                <div class="post-thumbnail">
                                    <a href="#"><img src="~/Images/web/tre.jpg" alt="" class=""></a>
                                </div>
                                <a href="" class="post-title">Các bệnh về đường miệng phổ biến ở trẻ nhỏ?</a>
                                <div class="postmeta">
                                    <time class="meta-time" datetime="2014-12-13">Dec 13, 2014</time>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="newsbox-item">
                                <div class="post-thumbnail">
                                    <a href=""><img src="~/Images/web/treom.jpg" alt="" class=""></a>
                                </div>
                                <a href="" class="post-title">Cách chăm sóc trẻ em bị ốm</a>
                                <div class="postmeta">
                                    <time class="meta-time" datetime="2014-12-13">Dec 13, 2014</time>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="newsbox-item">
                                <div class="post-thumbnail">
                                    <a href=""><img src="~/Images/web/chatso.jpg" alt="" class=""></a>
                                </div>
                                <a href="" class="post-title">Vai trò chất sơ trong sức khỏe trẻ nhỏ</a>
                                <div class="postmeta">
                                    <time class="meta-time" datetime="2014-12-13">Dec 13, 2014</time>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="newsbox-item">
                                <div class="post-thumbnail">
                                    <a href=""><img src="~/Images/web/chantay.jpg" alt="" class=""></a>
                                </div>
                                <a href="" class="post-title">Cách phòng chống bệnh chân tay miệng ở trẻ nhỏ</a>
                                <div class="postmeta">
                                    <time class="meta-time" datetime="2014-12-13">Dec 13, 2014</time>
                                </div>
                            </div>
                        </li>
                        
                    </ul>
                </div>
            </div><div class="six columns">
                <div class="first-newsbox-list">
                    <div class="widget-title"><h3><a href="http://localhost:5721/Ykhoathanhthieunien" title="Y khoa thanh thiếu niên">Y khoa thanh thiếu niên</a> </h3></div><ul class="newsbox-list">
                        <li>
                            <div class="newsbox-item">
                                <div class="post-thumbnail">
                                    <a href="#"><img src="~/Images/web/matngu.jpg" alt="" class=""></a>
                                </div>
                                <a href="#" class="post-title">Mẹo phòng tránh mất ngủ</a>
                                <div class="postmeta">
                                    <time class="meta-time" datetime="2014-12-13">Dec 13, 2014</time>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="newsbox-item">
                                <div class="post-thumbnail">
                                    <a href=""><img src="~/Images/web/anuong.jpg" alt="" class=""></a>
                                </div>
                                <a href="" class="post-title">Rối loạn ăn uống ở thanh thiếu niên</a>
                                <div class="postmeta">
                                    <time class="meta-time" datetime="2014-12-12">Dec 12, 2014</time>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="newsbox-item">
                                <div class="post-thumbnail">
                                    <a href=""><img src="~/Images/web/delta.jpg" alt="" class=""></a>
                                </div>
                                <a href="" class="post-title">Cách phòng chống teo cơ delta</a>
                                <div class="postmeta">
                                    <time class="meta-time" datetime="2014-12-11">Dec 11, 2014</time>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="newsbox-item">
                                <div class="post-thumbnail">
                                    <a href=""><img src="~/Images/web/canthi.jpg" alt="" class=""></a>
                                </div>
                                <a href="" class="post-title">Phòng chống bệnh cận thị</a>
                                <div class="postmeta">
                                    <time class="meta-time" datetime="2014-12-11">Dec 11, 2014</time>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>@**@
    <div id="presto-double-newsbox-list-4" class="widget widget-double-newsbox-list">
        <div class="row">
            <div class="six columns">
                <div class="first-newsbox-list">
                    <div class="widget-title"><h3><a href="http://localhost:5721/Ykhoatrungnien" title="Y khoa trung niên">Y khoa trung niên</a> </h3></div><ul class="newsbox-list">
                        <li>
                            <div class="newsbox-item">
                                <div class="post-thumbnail">
                                    <a href="#"><img src="~/Images/web/cotsong.jpg" alt="" class=""></a>
                                </div>
                                <a href="" class="post-title">Bệnh thoái hóa cột sống</a>
                                <div class="postmeta">
                                    <time class="meta-time" datetime="2014-12-13">Dec 13, 2014</time>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="newsbox-item">
                                <div class="post-thumbnail">
                                    <a href=""><img src="~/Images/web/phunu.jpg" alt="" class=""></a>
                                </div>
                                <a href="" class="post-title">Sức khỏe tiền mãn kinh</a>
                                <div class="postmeta">
                                    <time class="meta-time" datetime="2014-12-13">Dec 13, 2014</time>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="newsbox-item">
                                <div class="post-thumbnail">
                                    <a href=""><img src="~/Images/web/hait.jpg" alt="" class=""></a>
                                </div>
                                <a href="" class="post-title">Thận yếu thời kỳ đầu</a>
                                <div class="postmeta">
                                    <time class="meta-time" datetime="2014-12-13">Dec 13, 2014</time>
                                </div>
                            </div>
                        </li>
                     <li>
                            <div class="newsbox-item">
                                <div class="post-thumbnail">
                                    <a href=""><img src="~/Images/web/thuocla.jpg" alt="" class=""></a>
                                </div>
                                <a href="" class="post-title">Thuốc lá gây hại phổi</a>
                                <div class="postmeta">
                                    <time class="meta-time" datetime="2014-12-13">Dec 13, 2014</time>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div><div class="six columns">
                <div class="first-newsbox-list">
                    <div class="widget-title"><h3><a href="http://localhost:5721/Ykhoanguoicaotuoi" title="Y khoa người cao tuổi">Y khoa người cao tuổi</a> </h3></div><ul class="newsbox-list">
                        <li>
                            <div class="newsbox-item">
                                <div class="post-thumbnail">
                                    <a href="#"><img src="~/Images/web/tuoigia.jpg" alt="" class=""></a>
                                </div>
                                <a href="#" class="post-title">Mất ngủ tuổi già</a>
                                <div class="postmeta">
                                    <time class="meta-time" datetime="2014-12-13">Dec 13, 2014</time>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="newsbox-item">
                                <div class="post-thumbnail">
                                    <a href=""><img src="~/Images/web/huyap.jpg" alt="" class=""></a>
                                </div>
                                <a href="" class="post-title">Cao huyết áp cần tránh</a>
                                <div class="postmeta">
                                    <time class="meta-time" datetime="2014-12-12">Dec 12, 2014</time>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="newsbox-item">
                                <div class="post-thumbnail">
                                    <a href=""><img src="~/Images/web/theduc.jpg" alt="" class=""></a>
                                </div>
                                <a href="" class="post-title">Rèn luyện sức khỏe giúp kéo dài tuổi thọ</a>
                                <div class="postmeta">
                                    <time class="meta-time" datetime="2014-12-11">Dec 11, 2014</time>
                                </div>
                            </div>
                        </li>
                     <li>
                            <div class="newsbox-item">
                                <div class="post-thumbnail">
                                    <a href=""><img src="~/Images/web/taibien.jpg" alt="" class=""></a>
                                </div>
                                <a href="" class="post-title">Làm gì sau hậu tai biến</a>
                                <div class="postmeta">
                                    <time class="meta-time" datetime="2014-12-11">Dec 11, 2014</time>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>@**@
</section>

