﻿<div class="float-left">
    <div class="button">
        <p>
            @Html.ActionLink("Đăng Bài", "Create", "BaiViet")
        </p>
    </div>
</div>
<section>
<div id="presto-double-newsbox-list-4" class="widget widget-double-newsbox-list">
    <div class="row">
        <div class="six columns">
            <div class="first-newsbox-list">
                <div class="widget-title"><h3><a href="#" title="Tin mới nhận">Tin mới nhận</a> </h3></div><ul class="newsbox-list">
                    <li>
                        <div class="newsbox-item">
                            <div class="post-thumbnail">
                                <a href="http://localhost:5721/BaiViet/Details/8"><img src="~/Images/web/mangthai.jpg" alt="" class=""></a>
                            </div>
                            <a href="http://localhost:5721/BaiViet/Details/8" class="post-title">Phụ nữ nên sinh con ở tuổi nào là hợp lí ?</a>
                            <div class="postmeta">
                                <time class="meta-time" datetime="2014-12-13">Dec 13, 2014</time>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="newsbox-item">
                            <div class="post-thumbnail">
                                <a href="http://localhost:5721/BaiViet/Details/10"><img src="~/Images/web/benh gut.jpg" alt="" class=""></a>
                            </div>
                            <a href="http://localhost:5721/BaiViet/Details/10" class="post-title">Gout là gì? Phải làm gì khi mắc bệnh?</a>
                            <div class="postmeta">
                                <time class="meta-time" datetime="2014-12-13">Dec 13, 2014</time>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="newsbox-item">
                            <div class="post-thumbnail">
                                <a href="http://localhost:5721/BaiViet/Details/12"><img src="~/Images/web/hen.jpg" alt="" class=""></a>
                            </div>
                            <a href="http://localhost:5721/BaiViet/Details/12" class="post-title">Nguyên nhân và triệu chứng của bệnh hen phế quản</a>
                            <div class="postmeta">
                                <time class="meta-time" datetime="2014-12-13">Dec 13, 2014</time>
                            </div>
                        </div>
                    </li>
                     <li>
                        <div class="newsbox-item">
                            <div class="post-thumbnail">
                                <a href="http://localhost:5721/BaiViet/Details/13"><img src="~/Images/web/duong.jpg" alt="" class=""></a>
                            </div>
                            <a href="http://localhost:5721/BaiViet/Details/13" class="post-title">Đường - Thủ phạm gây huyết áp cao</a>
                            <div class="postmeta">
                                <time class="meta-time" datetime="2014-12-13">Dec 13, 2014</time>
                            </div>
                        </div>
                    </li>
                <li>
                        <div class="newsbox-item">
                            <div class="post-thumbnail">
                                <a href="http://localhost:5721/BaiViet/Details/14"><img src="~/Images/web/ganc.jpg" alt="" class=""></a>
                            </div>
                            <a href="http://localhost:5721/BaiViet/Details/14" class="post-title">Bia rượu làm tổn hại gan</a>
                            <div class="postmeta">
                                <time class="meta-time" datetime="2014-12-13">Dec 13, 2014</time>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div><div class="six columns">
            <div class="first-newsbox-list">
                <div class="widget-title"><h3><a href="#" title="Được xem nhiều nhất">Được xem nhiều nhất</a> </h3></div><ul class="newsbox-list">
                    <li>
                        <div class="newsbox-item">
                            <div class="post-thumbnail">
                                <a href="#"><img src="~/Images/web/10ungthu.jpg" alt="" class=""></a>
                            </div>
                            <a href="#" class="post-title">10 loại trái cây hàng đầu chống ung thư</a>
                            <div class="postmeta">
                                <time class="meta-time" datetime="2014-12-13">Dec 13, 2014</time>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="newsbox-item">
                            <div class="post-thumbnail">
                                <a href=""><img src="~/Images/web/duong.jpg" alt="" class=""></a>
                            </div>
                            <a href="" class="post-title">Đường -Thủ phạm gây huyết áp cao</a>
                            <div class="postmeta">
                                <time class="meta-time" datetime="2014-12-12">Dec 12, 2014</time>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="newsbox-item">
                            <div class="post-thumbnail">
                                <a href=""><img src="~/Images/web/daudau.jpg" alt=""class=""></a>
                            </div>
                            <a href="" class="post-title">Những nguyên nhân gây ra đau đầu</a>
                            <div class="postmeta">
                                <time class="meta-time" datetime="2014-12-11">Dec 11, 2014</time>
                            </div>
                        </div>
                    </li>
                 <li>
                        <div class="newsbox-item">
                            <div class="post-thumbnail">
                                <a href=""><img src="~/Images/web/daybung.jpg" alt=""class=""></a>
                            </div>
                            <a href="http://localhost:5721/BaiViet/Details/9" class="post-title">7 lý do dẫn đến tình trạng đầy bụng</a>
                            <div class="postmeta">
                                <time class="meta-time" datetime="2014-12-11">Dec 11, 2014</time>
                            </div>
                        </div>
                    </li>
                 <li>
                        <div class="newsbox-item">
                            <div class="post-thumbnail">
                                <a href=""><img src="~/Images/web/laptop.jpg" alt=""class=""></a>
                            </div>
                            <a href="" class="post-title">Mối nguy hiểm của laptop đến sức khỏe</a>
                            <div class="postmeta">
                                <time class="meta-time" datetime="2014-12-11">Dec 11, 2014</time>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>@**@
    <div id="presto-double-newsbox-list-4" class="widget widget-double-newsbox-list">
        <div class="row">
            <div class="six columns">
                <div class="first-newsbox-list">
                    <div class="widget-title"><h3><a href="#" title="Tin từ các chuyên gia">Tin từ các chuyên gia</a> </h3></div><ul class="newsbox-list">
                        <li>
                            <div class="newsbox-item">
                                <div class="post-thumbnail">
                                    <a href="#"><img src="~/Images/web/lungdau.jpg" alt="" class=""></a>
                                </div>
                                <a href="" class="post-title">Bài thuốc chữa sỏi thận hiệu quả ?</a>
                                <div class="postmeta">
                                    <time class="meta-time" datetime="2014-12-13">Dec 13, 2014</time>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="newsbox-item">
                                <div class="post-thumbnail">
                                    <a href=""><img src="~/Images/web/xetnghiem.jpg" alt="" class=""></a>
                                </div>
                                <a href="" class="post-title">Xét nghiệm máu có thể giúp chuẩn đoán trầm cảm</a>
                                <div class="postmeta">
                                    <time class="meta-time" datetime="2014-12-13">Dec 13, 2014</time>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="newsbox-item">
                                <div class="post-thumbnail">
                                    <a href=""><img src="~/Images/web/dll.png" alt="" class=""></a>
                                </div>
                                <a href="" class="post-title">Xét nghiệm máu thường có LDL, HDL và triglycerides đó là những chỉ số gì?</a>
                                <div class="postmeta">
                                    <time class="meta-time" datetime="2014-12-13">Dec 13, 2014</time>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div><div class="six columns">
                <div class="first-newsbox-list">
                    <div class="widget-title"><h3><a href="#" title="Tin cộng dồng">Tin cộng đồng</a> </h3></div><ul class="newsbox-list">
                        <li>
                            <div class="newsbox-item">
                                <div class="post-thumbnail">
                                    <a href="#"><img src="~/Images/web/an.jpg" alt="" class=""></a>
                                </div>
                                <a href="#" class="post-title">Vì sao ăn nhiều mỡ không tăng cân</a>
                                <div class="postmeta">
                                    <time class="meta-time" datetime="2014-12-13">Dec 13, 2014</time>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="newsbox-item">
                                <div class="post-thumbnail">
                                    <a href=""><img src="~/Images/web/tai.jpg" alt="" class=""></a>
                                </div>
                                <a href="" class="post-title">Thói quen ngoáy tai có ảnh hưởng đến sức khỏe không?</a>
                                <div class="postmeta">
                                    <time class="meta-time" datetime="2014-12-12">Dec 12, 2014</time>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="newsbox-item">
                                <div class="post-thumbnail">
                                    <a href=""><img src="~/Images/web/taobon.jpg" alt="" class=""></a>
                                </div>
                                <a href="" class="post-title">Làm cách nào để cải thiện táo bón ở người già</a>
                                <div class="postmeta">
                                    <time class="meta-time" datetime="2014-12-11">Dec 11, 2014</time>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>@**@
    </section>
