﻿<div class="float-left">
    <div class="button">
        <p>
            @Html.ActionLink("Đăng Bài", "Create", "BaiViet")
        </p>
    </div>
</div>
<section>
    <div class="site-main row">
        <div class="twelve columns">
            <div class="site-main-wrap">
                <div class="primary-content">
                    <div class="primary-content-wrap">


                        <div class="widget widget-blog widget-archive">

                            <div class="archive-title">
                                <h3>
                                    <span>Y khoa thanh thiếu niên</span>
                                </h3>
                                <div class="taxonomy-description">
                                    <div class="taxonomy-description">
                                        <p>Tin tức về thông tin sức khỏe phòng chống các bệnh cho học sinh sinh viên những người trẻ của đất nước</p>
                                    </div>
                                </div>
                                <!-- ads -->
                                <div class="ads-block-468">
                                    <script async="" src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                                    <!-- bacsi_468x90_new -->
                                    <ins class="adsbygoogle" style="display:inline-block;width:468px;height:90px" data-ad-client="ca-pub-5138358064012908" data-ad-slot="8353679673"></ins>
                                    <script>
		                            (adsbygoogle = window.adsbygoogle || []).push({});
                                    </script>
                                </div>

                                <div class="widget-mobile-ads-300x50">
                                    <script async="" src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                                    <!-- news_bacsi_auto_468 -->
                                    <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-1915005140411661" data-ad-slot="3237329681" data-ad-format="auto"></ins>
                                    <script>
		                                (adsbygoogle = window.adsbygoogle || []).push({});
                                    </script>
                                </div>
                                <!-- end ads -->
                            </div>

                            <div class="blog-grid">
                                <div class="row blog-post-row">
                                    <div class="six columns">
                                        <article class="post-481432 post type-post status-publish format-standard has-post-thumbnail hentry category-y-hoc-dan-toc latest-post-item blog-post-item post-hover-animate">
                                            <div class="post-thumbnail mb-10">
                                                <a href=""><img src="~/Images/web/e1.jpg" alt="" class=""></a>
                                                <div class="post-thumb-meta" style="bottom: -35px;">
                                                    <div class="fl">
                                                        <time class="postmeta-date" datetime="2014-12-15">Dec 15, 2014</time>
                                                    </div>
                                                    <div class="fr">
                                                        <span class="postmeta-view"><i class="icon-eye"></i> 11</span>
                                                        <a href="" class="postmeta-comment"><i class="icon-chat"></i> 0</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="postmeta mb-5">
                                            </div><!-- .postmeta -->
                                            <h2 class="post-title"><a href="">Rối loạn cảm xúc ở thanh thiếu niên</a></h2>
                                            <div class="post-excerpt">
                                                Chóng mặt, ù tai thuộc phạm vi chứng huyễn vựng của y học cổ truyền. Nguyên nhân là do can thận âm hư, can huyết…
                                            </div>
                                        </article>
                                    </div><div class="six columns">
                                        <article class="post-481389 post type-post status-publish format-standard has-post-thumbnail hentry category-tin-noi-bat category-y-duoc latest-post-item blog-post-item post-hover-animate">
                                            <div class="post-thumbnail mb-10">
                                                <a href=""><img src="~/Images/web/e2.jpg" alt="" class=""></a>
                                                <div class="post-thumb-meta">
                                                    <div class="fl">
                                                        <time class="postmeta-date" datetime="2014-12-15">Dec 15, 2014</time>
                                                    </div>
                                                    <div class="fr">
                                                        <span class="postmeta-view"><i class="icon-eye"></i> 14</span>
                                                        <a href="" class="postmeta-comment"><i class="icon-chat"></i> 0</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="postmeta mb-5">
                                            </div><!-- .postmeta -->
                                            <h2 class="post-title"><a href="">Thanh thiếu niên ngủ không đủ giấc tăng nguy cơ bị béo phì</a></h2>
                                            <div class="post-excerpt">
                                                Dầu cá chứa nhiều chất dinh dưỡng quý giá, thường được chiết xuất từ cá thu, cá hồi, cá trích, cá ngừ, cá tuyết… Do…
                                            </div>
                                        </article>
                                    </div>
                                </div><div class="row blog-post-row">
                                    <div class="six columns">
                                        <article class="post-481340 post type-post status-publish format-standard has-post-thumbnail hentry category-chuyen-khoa latest-post-item blog-post-item post-hover-animate">
                                            <div class="post-thumbnail mb-10">
                                                <a href=""><img src="~/Images/web/e3.jpg" alt="" class=""></a>
                                                <div class="post-thumb-meta" style="bottom: -35px;">
                                                    <div class="fl">
                                                        <time class="postmeta-date" datetime="2014-12-15">Dec 15, 2014</time>
                                                    </div>
                                                    <div class="fr">
                                                        <span class="postmeta-view"><i class="icon-eye"></i> 9</span>
                                                        <a href="" class="postmeta-comment"><i class="icon-chat"></i> 0</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="postmeta mb-5">
                                            </div><!-- .postmeta -->
                                            <h2 class="post-title"><a href="">Dậy thì sớm tăng nguy cơ bệnh tiểu đường và bệnh tim</a></h2>
                                            <div class="post-excerpt">
                                                Lẹo mắt hay còn gọi là chắp, đây là bệnh thường gặp ở người và rất dễ tái phát. Bạn nên biết cách phòng tránh…
                                            </div>
                                        </article>
                                    </div><div class="six columns">
                                        <article class="post-481298 post type-post status-publish format-standard has-post-thumbnail hentry category-chuyen-khoa latest-post-item blog-post-item post-hover-animate">
                                            <div class="post-thumbnail mb-10">
                                                <a href=""><img src="~/Images/web/e4.jpg" alt="" class=""></a>
                                                <div class="post-thumb-meta">
                                                    <div class="fl">
                                                        <time class="postmeta-date" datetime="2014-12-15">Dec 15, 2014</time>
                                                    </div>
                                                    <div class="fr">
                                                        <span class="postmeta-view"><i class="icon-eye"></i> 8</span>
                                                        <a href="" class="postmeta-comment"><i class="icon-chat"></i> 0</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="postmeta mb-5">
                                            </div><!-- .postmeta -->
                                            <h2 class="post-title"><a href="">Một số bệnh gặp ở tuổi dậy thì</a></h2>
                                            <div class="post-excerpt">
                                                Trái tim bảo vệ sự sống của chúng ta. Tim làm việc ngày đêm không ngưng nghỉ và phải đối mặt với rất nhiều hiểm…
                                            </div>
                                        </article>
                                    </div>
                                </div><div class="row blog-post-row">
                                    <div class="six columns">
                                        <article class="post-481272 post type-post status-publish format-standard has-post-thumbnail hentry category-y-duoc latest-post-item blog-post-item post-hover-animate">
                                            <div class="post-thumbnail mb-10">
                                                <a href=""><img src="~/Images/web/e5.jpg" alt="" class=""></a>
                                                <div class="post-thumb-meta" style="bottom: -35px;">
                                                    <div class="fl">
                                                        <time class="postmeta-date" datetime="2014-12-13">Dec 13, 2014</time>
                                                    </div>
                                                    <div class="fr">
                                                        <span class="postmeta-view"><i class="icon-eye"></i> 55</span>
                                                        <a href="" class="postmeta-comment"><i class="icon-chat"></i> 0</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="postmeta mb-5">
                                            </div><!-- .postmeta -->
                                            <h2 class="post-title"><a href="">Nữ giới tuổi dậy thì ăn ít chất béo giúp giảm nguy cơ ung thư vú</a></h2>
                                            <div class="post-excerpt">
                                                Điều gì xảy ra với những viên thuốc khi chúng được đưa vào cơ thể? Chúng đi đến đâu? Làm thế nào chúng đến được…
                                            </div>
                                        </article>
                                    </div><div class="six columns">
                                        <article class="post-481255 post type-post status-publish format-standard has-post-thumbnail hentry category-y-hoc-dan-toc latest-post-item blog-post-item post-hover-animate">
                                            <div class="post-thumbnail mb-10">
                                                <a href=""><img src="~/Images/web/e6.jpg" alt="" class=""></a>
                                                <div class="post-thumb-meta">
                                                    <div class="fl">
                                                        <time class="postmeta-date" datetime="2014-12-13">Dec 13, 2014</time>
                                                    </div>
                                                    <div class="fr">
                                                        <span class="postmeta-view"><i class="icon-eye"></i> 56</span>
                                                        <a href="" class="postmeta-comment"><i class="icon-chat"></i> 0</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="postmeta mb-5">
                                            </div><!-- .postmeta -->
                                            <h2 class="post-title"><a href="">Những rối loạn về xương khớp ở tuổi dậy thì</a></h2>
                                            <div class="post-excerpt">
                                                Hen phế quản là tình trạng phản ứng cao độ ở phế quản trước nhiều kích thích khác nhau, biểu hiện đặc trưng là cơn…
                                            </div>
                                        </article>
                                    </div>
                                </div><div class="row blog-post-row">
                                    <div class="six columns">
                                        <article class="post-481186 post type-post status-publish format-standard has-post-thumbnail hentry category-chuyen-khoa latest-post-item blog-post-item post-hover-animate">
                                            <div class="post-thumbnail mb-10">
                                                <a href=""><img src="~/Images/web/e7.jpg" alt="" class=""></a>
                                                <div class="post-thumb-meta">
                                                    <div class="fl">
                                                        <time class="postmeta-date" datetime="2014-12-13">Dec 13, 2014</time>
                                                    </div>
                                                    <div class="fr">
                                                        <span class="postmeta-view"><i class="icon-eye"></i> 43</span>
                                                        <a href="" class="postmeta-comment"><i class="icon-chat"></i> 0</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="postmeta mb-5">
                                            </div><!-- .postmeta -->
                                            <h2 class="post-title"><a href="">Bí quyết giúp trẻ vị thành niên ngủ đủ giấc</a></h2>
                                            <div class="post-excerpt">
                                                Không bao giờ nên để nắng rọi vào vết thương. Ánh nắng có tác dụng làm khô vết thương, khiến nó lâu lành hơn. Việc…
                                            </div>
                                        </article>
                                    </div><div class="six columns">
                                        <article class="post-481120 post type-post status-publish format-standard has-post-thumbnail hentry category-chuyen-khoa latest-post-item blog-post-item post-hover-animate">
                                            <div class="post-thumbnail mb-10">
                                                <a href=""><img src="~/Images/web/e8.jpg" alt="" class=""></a>
                                                <div class="post-thumb-meta">
                                                    <div class="fl">
                                                        <time class="postmeta-date" datetime="2014-12-12">Dec 12, 2014</time>
                                                    </div>
                                                    <div class="fr">
                                                        <span class="postmeta-view"><i class="icon-eye"></i> 47</span>
                                                        <a href="" class="postmeta-comment"><i class="icon-chat"></i> 0</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="postmeta mb-5">
                                            </div><!-- .postmeta -->
                                            <h2 class="post-title"><a href="">Những điều cần tránh trong chu kỳ kinh nguyệt</a></h2>
                                            <div class="post-excerpt">
                                                Thời tiết chuyển sang mùa lạnh không có khả năng gây bệnh như có thể gia tăng nguy cơ khiến bạn dễ bị cảm cúm,…
                                            </div>
                                        </article>
                                    </div>
                                </div><div class="row blog-post-row">
                                    <div class="six columns">
                                        <article class="post-481098 post type-post status-publish format-standard has-post-thumbnail hentry category-chuyen-khoa latest-post-item blog-post-item post-hover-animate">
                                            <div class="post-thumbnail mb-10">
                                                <a href=""><img src="~/Images/web/e9.jpg" alt="" class=""></a>
                                                <div class="post-thumb-meta" style="bottom: -35px;">
                                                    <div class="fl">
                                                        <time class="postmeta-date" datetime="2014-12-12">Dec 12, 2014</time>
                                                    </div>
                                                    <div class="fr">
                                                        <span class="postmeta-view"><i class="icon-eye"></i> 44</span>
                                                        <a href="" class="postmeta-comment"><i class="icon-chat"></i> 0</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="postmeta mb-5">
                                            </div><!-- .postmeta -->
                                            <h2 class="post-title"><a href="">Chứng đau đầu gối ở tuổi dậy thì</a></h2>
                                            <div class="post-excerpt">
                                                Nhiều nghiên cứu cho thấy, huyết áp cao và đái tháo đường thường song hành cùng nhau, vì chúng có cùng những yếu tố nguy…
                                            </div>
                                        </article>
                                    </div><div class="six columns">
                                        <article class="post-481074 post type-post status-publish format-standard has-post-thumbnail hentry category-y-hoc latest-post-item blog-post-item post-hover-animate">
                                            <div class="post-thumbnail mb-10">
                                                <a href=""><img src="~/Images/web/e10.jpg" alt="" class=""></a>
                                                <div class="post-thumb-meta">
                                                    <div class="fl">
                                                        <time class="postmeta-date" datetime="2014-12-12">Dec 12, 2014</time>
                                                    </div>
                                                    <div class="fr">
                                                        <span class="postmeta-view"><i class="icon-eye"></i> 40</span>
                                                        <a href="" class="postmeta-comment"><i class="icon-chat"></i> 0</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="postmeta mb-5">
                                            </div><!-- .postmeta -->
                                            <h2 class="post-title"><a href="">Thói quen hằng ngày có thể dẫn đến bệnh phụ khoa</a></h2>
                                            <div class="post-excerpt">
                                                Trong cuộc sống hiện đại, các thiết bị điện tử như tivi, màn hình của máy vi tính, điện thoại di động, máy tính bảng,…
                                            </div>
                                        </article>
                                    </div>
                                </div><div class="row blog-post-row">
                                    <div class="six columns">
                                        <article class="post-481054 post type-post status-publish format-standard has-post-thumbnail hentry category-y-hoc-dan-toc latest-post-item blog-post-item post-hover-animate">
                                            <div class="post-thumbnail mb-10">
                                                <a href=""><img src="~/Images/web/e11.jpg" alt="" class=""></a>
                                                <div class="post-thumb-meta" style="bottom: -35px;">
                                                    <div class="fl">
                                                        <time class="postmeta-date" datetime="2014-12-12">Dec 12, 2014</time>
                                                    </div>
                                                    <div class="fr">
                                                        <span class="postmeta-view"><i class="icon-eye"></i> 46</span>
                                                        <a href="" class="postmeta-comment"><i class="icon-chat"></i> 0</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="postmeta mb-5">
                                            </div><!-- .postmeta -->
                                            <h2 class="post-title"><a href="">Những chứng bệnh tâm lý thường gặp ở tuổi dậy thì</a></h2>
                                            <div class="post-excerpt">
                                                Theo y học cổ truyền, cây thạch vĩ dây có vị ngọt, tính lạnh. Quy vào hai kinh tiểu trường và bàng quang. Có tác…
                                            </div>
                                        </article>
                                    </div><div class="six columns">
                                        <article class="post-481030 post type-post status-publish format-standard has-post-thumbnail hentry category-chuyen-khoa latest-post-item blog-post-item post-hover-animate">
                                            <div class="post-thumbnail mb-10">
                                                <a href=""><img src="~/Images/web/e12.jpg" alt="" class=""></a>
                                                <div class="post-thumb-meta">
                                                    <div class="fl">
                                                        <time class="postmeta-date" datetime="2014-12-12">Dec 12, 2014</time>
                                                    </div>
                                                    <div class="fr">
                                                        <span class="postmeta-view"><i class="icon-eye"></i> 39</span>
                                                        <a href="" class="postmeta-comment"><i class="icon-chat"></i> 0</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="postmeta mb-5">
                                            </div><!-- .postmeta -->
                                            <h2 class="post-title"><a href="">Những dấu hiệu nhận biết kỳ đèn đỏ cho teen nữ/a></h2>
                                            <div class="post-excerpt">
                                                Mùa đông lạnh, rất nhiều bệnh có nguy cơ phát triển trong đó có bệnh viêm phổi do nấm Aspergillus, loại nấm này đặc biệt…
                                            </div>
                                        </article>
                                    </div>
                                </div><div class="row blog-post-row"></div>
                            </div><div class="blog-pagination">
                                <span class="page-numbers current">1</span>
                                <a class="page-numbers" href="">2</a>
                                <a class="page-numbers" href="">3</a>
                                <span class="page-numbers dots">…</span>
                                <a class="page-numbers" href="">4</a>
                                <a class="next page-numbers" href="">Next »</a>
                            </div>	<!-- ads -->
                            <div style="clear:both; height: 5px">&nbsp;</div>
                            <div style="clear:both; text-align: center">
                                <div id="div-gpt-ad-1395918454696-4" style="width:336px; height:280px;">
                                    <script type="text/javascript">
			                    googletag.cmd.push(function() { googletag.display('div-gpt-ad-1395918454696-4'); });
                                    </script>
                                </div>
                            </div>
                            <!-- end ads -->

                        </div>
                    </div><!-- .primary-content-wrap -->
                </div><!-- .primary-content -->

                </div>
            </div>
        </div>
</section>

