﻿<div class="float-left">
    <div class="button">
        <p>
            @Html.ActionLink("Đăng Bài", "Create", "BaiViet")
        </p>
    </div>
</div>
<section>
    <div id="presto-double-newsbox-list-4" class="widget widget-double-newsbox-list">
        <div class="row">
            <div class="six columns">
                <div class="first-newsbox-list">
                    <div class="widget-title"><h3><a href="#" title="Bạn đọc">Bạn đọc</a> </h3></div><ul class="newsbox-list">
                        <li>
                            <div class="newsbox-item">
                                <div class="post-thumbnail">
                                    <a href="#"><img src="~/Images/web/linh.jpg" alt="" class=""></a>
                                </div>
                                <a href="" class="post-title">Cách sử dụng nấm linh chi đúng cách</a>
                                <div class="postmeta">
                                    <time class="meta-time" datetime="2014-12-13">Dec 13, 2014</time>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="newsbox-item">
                                <div class="post-thumbnail">
                                    <a href=""><img src="~/Images/web/quat.jpg" alt="" class=""></a>
                                </div>
                                <a href="" class="post-title">Dùng quạt gió nhiều không tốt cho sức khỏe</a>
                                <div class="postmeta">
                                    <time class="meta-time" datetime="2014-12-13">Dec 13, 2014</time>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="newsbox-item">
                                <div class="post-thumbnail">
                                    <a href=""><img src="~/Images/web/vesinh.jpg"  alt="" class=""></a>
                                </div>
                                <a href="" class="post-title">An toàn vệ sinh như thế nào</a>
                                <div class="postmeta">
                                    <time class="meta-time" datetime="2014-12-13">Dec 13, 2014</time>
                                </div>
                            </div>
                        </li>
                        
                    </ul>
                </div>
            </div><div class="six columns">
                <div class="first-newsbox-list">
                    <div class="widget-title"><h3><a href="#" title="Phản hồi">Phản hồi</a> </h3></div><ul class="newsbox-list">
                        <li>
                            <div class="newsbox-item">
                                <div class="post-thumbnail">
                                    <a href="#"><img src="~/Images/web/tien.jpg" alt="" class=""></a>
                                </div>
                                <a href="#" class="post-title">Tôi bị sưng tuyến tiền liệt phải làm thế nào</a>
                                <div class="postmeta">
                                    <time class="meta-time" datetime="2014-12-13">Dec 13, 2014</time>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="newsbox-item">
                                <div class="post-thumbnail">
                                    <a href=""><img src="~/Images/web/trieuchung.jpg" alt="" class=""></a>
                                </div>
                                <a href="" class="post-title">Thế nào là triệu chứng và biến chứng</a>
                                <div class="postmeta">
                                    <time class="meta-time" datetime="2014-12-12">Dec 12, 2014</time>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="newsbox-item">
                                <div class="post-thumbnail">
                                    <a href=""><img src="~/Images/web/ot.jpg" alt="" class=""></a>
                                </div>
                                <a href="" class="post-title">Ăn cay nóng có bị làm sao không</a>
                                <div class="postmeta">
                                    <time class="meta-time" datetime="2014-12-11">Dec 11, 2014</time>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>@**@
    <div id="presto-double-newsbox-list-4" class="widget widget-double-newsbox-list">
        <div class="row">
            <div class="six columns">
                <div class="first-newsbox-list">
                    <div class="widget-title"><h3><a href="#" title="Bài viết">Bài viết</a> </h3></div><ul class="newsbox-list">
                        <li>
                            <div class="newsbox-item">
                                <div class="post-thumbnail">
                                    <a href="#"><img src="~/Images/web/ancom.jpg" alt="" class=""></a>
                                </div>
                                <a href="" class="post-title">Chế độ ăn hợp lý cho người sau mổ</a>
                                <div class="postmeta">
                                    <time class="meta-time" datetime="2014-12-13">Dec 13, 2014</time>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="newsbox-item">
                                <div class="post-thumbnail">
                                    <a href=""><img src="~/Images/web/aphuyet.jpg" alt="" class=""></a>
                                </div>
                                <a href="" class="post-title">Huyết áp gặp mọi đối tượng</a>
                                <div class="postmeta">
                                    <time class="meta-time" datetime="2014-12-13">Dec 13, 2014</time>
                                </div>
                            </div>
                        </li>
                       
                    </ul>
                </div>
            </div><div class="six columns">
                <div class="first-newsbox-list">
                    <div class="widget-title"><h3><a href="#" title="Nhận định">Nhận định</a> </h3></div><ul class="newsbox-list">
                        <li>
                            <div class="newsbox-item">
                                <div class="post-thumbnail">
                                    <a href="#"><img src="~/Images/web/virus.jpg" alt="" class=""></a>
                                </div>
                                <a href="#" class="post-title">Chuyển thể của virus</a>
                                <div class="postmeta">
                                    <time class="meta-time" datetime="2014-12-13">Dec 13, 2014</time>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="newsbox-item">
                                <div class="post-thumbnail">
                                    <a href=""><img src="~/Images/web/danh.jpg" alt="" class=""></a>
                                </div>
                                <a href="" class="post-title">Công bố danh sách y khoa</a>
                                <div class="postmeta">
                                    <time class="meta-time" datetime="2014-12-12">Dec 12, 2014</time>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>@**@
</section>

