﻿<div class="float-left">
    <div class="button">
        <p>
            @Html.ActionLink("Đăng Bài", "Create", "BaiViet")
        </p>
    </div>
</div>
<section>
    <div id="presto-double-newsbox-list-4" class="widget widget-double-newsbox-list">
        <div class="row">
            <div class="six columns">
                <div class="first-newsbox-list">
                    <div class="widget-title"><h3><a href="#" title="Xã hội">Xã hội</a> </h3></div><ul class="newsbox-list">
                        <li>
                            <div class="newsbox-item">
                                <div class="post-thumbnail">
                                    <a href="#"><img src="~/Images/web/trieu.jpg" alt="" class=""></a>
                                </div>
                                <a href="" class="post-title">Ai là triệu phú</a>
                                <div class="postmeta">
                                    <time class="meta-time" datetime="2014-12-13">Dec 13, 2014</time>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="newsbox-item">
                                <div class="post-thumbnail">
                                    <a href=""><img src="~/Images/web/non.jpg" alt="" class=""></a>
                                </div>
                                <a href="" class="post-title">Chiếc nón kì diệu</a>
                                <div class="postmeta">
                                    <time class="meta-time" datetime="2014-12-13">Dec 13, 2014</time>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="newsbox-item">
                                <div class="post-thumbnail">
                                    <a href=""><img src="~/Images/web/chug.jpg" alt="" class=""></a>
                                </div>
                                <a href="" class="post-title">Chung sức</a>
                                <div class="postmeta">
                                    <time class="meta-time" datetime="2014-12-13">Dec 13, 2014</time>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="six columns">
                <div class="first-newsbox-list">
                    <div class="widget-title"><h3><a href="#" title="Y khoa">Y khoa</a> </h3></div><ul class="newsbox-list">
                        <li>
                            <div class="newsbox-item">
                                <div class="post-thumbnail">
                                    <a href="#"><img src="~/Images/web/kienthuc.jpg" alt="" class=""></a>
                                </div>
                                <a href="#" class="post-title">Y khoa kiến thức</a>
                                <div class="postmeta">
                                    <time class="meta-time" datetime="2014-12-13">Dec 13, 2014</time>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="newsbox-item">
                                <div class="post-thumbnail">
                                    <a href=""><img src="~/Images/web/yte.jpg" alt="" class=""></a>
                                </div>
                                <a href="" class="post-title">Thi thử y tế</a>
                                <div class="postmeta">
                                    <time class="meta-time" datetime="2014-12-12">Dec 12, 2014</time>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="newsbox-item">
                                <div class="post-thumbnail">
                                    <a href=""><img src="~/Images/web/y.jpg" alt="" class=""></a>
                                </div>
                                <a href="" class="post-title">Vấn đáp chuyên môn</a>
                                <div class="postmeta">
                                    <time class="meta-time" datetime="2014-12-11">Dec 11, 2014</time>
                                </div>
                            </div>
                        </li>
                       
                    </ul>
                </div>
            </div>
        </div>
    <br />
    <div class="row">
        <div class="first-newsbox-list">
            <div class="widget-title"><h3><a href="#" title="GameTalk">GameTalk</a> </h3></div><ul class="newsbox-list"></ul>
        </div>
        <iframe width="350" height="80" src="http://mp3.zing.vn/embed/song/ZWZ9ZD97?autostart=false" frameborder="0" allowfullscreen="true"></iframe>
        <iframe width="350" height="80" src="http://mp3.zing.vn/embed/song/ZWZ96860?autostart=false" frameborder="0" allowfullscreen="true"></iframe>
        <iframe width="320" height="80" src="http://mp3.zing.vn/embed/song/ZWZEIOCZ?autostart=false" frameborder="0" allowfullscreen="true"></iframe>
    </div>
    <br />
        <div class="row">
            <div class="first-newsbox-list">
                <div class="widget-title"><h3><a href="#" title="Hài kịch">Hài kịch</a> </h3></div><ul class="newsbox-list"></ul>
            </div>
            <iframe width="350" height="250" src="//www.youtube.com/embed/Glik7RAD4bE" frameborder="0" allowfullscreen></iframe>
            <iframe width="360" height="250" src="//www.youtube.com/embed/XugEAwvEkUc" frameborder="0" allowfullscreen></iframe>
            <iframe width="320" height="250" src="//www.youtube.com/embed/bh9nFlO47_U" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>@**@   

</section>

