﻿@model Blog.Models.Comment

<div class="display-field">
    <h2>
        Cách đây:  @Html.DisplayFor(x => Model.LastTime) phút
    </h2>
</div>
<div class="display-field">
    @Html.DisplayFor(x => Model.Body)
</div>