﻿@model MVC.Models.LocalPasswordModel

<h3>Thay đổi mật khẩu</h3>

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        @*<legend>Change Password Form</legend>*@
        <ol>
            <li>
                @*@Html.LabelFor(m => m.OldPassword)*@
                <div class="editor-label">
                    <p>Mật khẩu cũ</p>
                </div>
                @Html.PasswordFor(m => m.OldPassword)
            </li>
            <li>
                <div class="editor-label">
                    <p>Mật khẩu mới</p>
                </div>
                @*@Html.LabelFor(m => m.NewPassword)*@
                @Html.PasswordFor(m => m.NewPassword)
            </li>
            <li>
                @*@Html.LabelFor(m => m.ConfirmPassword)*@
                <div class="editor-label">
                    <p>Nhắc lại mật khẩu mới</p>
                </div>
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
        </ol>
        <br />
        <input type="submit" value="Đổi mật khẩu" />
    </fieldset>
}
