﻿@model MVC.Models.LoginModel

@*@{
    ViewBag.Title = "Log in";
}*@

@*<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>*@
<br />
<br />
<br />
<section id="loginForm">
<h2>Đăng nhập bằng tài khoản trang web</h2>
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <br />
    <br />
    <fieldset>
        <legend>Đăng nhập tài khoản</legend>
        <br />
        <ol>
            <li>
                @*@Html.LabelFor(m => m.UserName)*@
                <div class="editor-label">
                    <p>Tên đăng nhập</p>
                </div>
                <br />
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </li>
            <li>
                @*@Html.LabelFor(m => m.Password)*@
                <div class="editor-label">
                    <p>Mật khẩu</p>
                </div>
                <br />
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </li>
            
            <li>
                <br />
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
            </li>

        </ol>
        <br />
        <input type="submit" value="Đăng nhập" />
    </fieldset>
    <br />
    <p>
        @Html.ActionLink("Đăng kí", "Register") Nếu bạn chưa có tài khoản
    </p>
}
</section>
<br />

<section class="social" id="socialLoginForm">
    <br />
    <h2>Đăng kí bằng tài khoản khác bên dưới</h2>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
