﻿@model MVC.Models.LocalPasswordModel
@*@{
    ViewBag.Title = "Manage Account";
}*@
<br />
<br />
@*<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>*@

<p class="message-success">@ViewBag.StatusMessage</p>

<p>Bạn đang đăng nhập với tài khoản <strong>@User.Identity.Name</strong>.</p>
<br />
@if (ViewBag.HasLocalPassword)
{
    @Html.Partial("_ChangePasswordPartial")
}
else
{ 
    @Html.Partial("_SetPasswordPartial")
}

<section id="externalLogins">
    @Html.Action("RemoveExternalLogins")

    <h3>Add an external login</h3>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
