﻿@model MVC.Models.RegisterModel
@*@{
    ViewBag.Title = "Register";
}*@
<br />
<br />
@*<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Create a new account.</h2>
</hgroup>*@

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Đăng kí tài khoản</legend>
        <br />
        <ol>
            
            <li>
                @*@Html.LabelFor(m => m.UserName)*@
                <div class="editor-label">
                        <p>Tên đăng nhập</p>
                    </div>
                <div class=" editor-field">
                    @Html.TextBoxFor(m=>m.UserName)
                </div>
</li>
            <li>
                @*@Html.LabelFor(m => m.Password)*@
                <div class="editor-label">
                    <p>Nhập mật khẩu</p>
                </div>
                <div class=" editor-field">
                    @Html.PasswordFor(m => m.Password)
                    </div>
</li>
            <li>
                @*@Html.LabelFor(m => m.ConfirmPassword)*@
                <div class="editor-label">
                    <p>Nhập lại mật khẩu</p>
                </div>
                <div class=" editor-field">
                    @Html.PasswordFor(m => m.ConfirmPassword)
                    </div>
</li>
        </ol>
        <input type="submit" value="Đăng kí" />
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
