﻿@model Account.Models.Tag

{
    <fieldset>
    <legend>Tag</legend>

    <div class="editor-label">
        @Html.LabelFor(model => model.content)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.content)
        @Html.ValidationMessageFor(model => model.content)
    </div>


</fieldset>

}