﻿@model MVC.Models.BinhLuan

<div class="display-field">
    <h3> Cach day: @Html.DisplayFor(model => model.LastTime)phut </h3>
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.NoDungBL)
</div>