﻿@model MVC.Models.BinhLuan

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>BinhLuan</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NoDungBL)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NoDungBL)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NgayTao)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NgayTao)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BaiViet.TenBV)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BaiViet.TenBV)
    </div>
</fieldset>
@*<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.MaBL }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
