﻿@model IEnumerable<MVC.Models.BinhLuan>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NoDungBL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayTao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BaiViet.TenBV)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NoDungBL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayTao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BaiViet.TenBV)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaBL }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaBL }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaBL })
        </td>
    </tr>
}

</table>
