﻿@model MVC.Models.DiemBaiViet

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>DiemBaiViet</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.SoDiem)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SoDiem)
            @Html.ValidationMessageFor(model => model.SoDiem)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.BaiVietMD, "BaiViet")
        </div>
        <div class="editor-field">
            @Html.DropDownList("BaiVietMD", String.Empty)
            @Html.ValidationMessageFor(model => model.BaiVietMD)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
