﻿@model MVC.Models.DiemBaiViet

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>DiemBaiViet</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SoDiem)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SoDiem)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BaiViet.TenBV)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BaiViet.TenBV)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.MaDiem }) |
    @Html.ActionLink("Back to List", "Index")
</p>
